.movie-poster {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 315px;
  height: 315px;
  box-shadow: 3px 3px 15px;
  overflow: hidden;
  border-radius: 1px;
  max-width: 500px;
  margin: 10px;
  cursor: pointer;
}

.featured-movie {
  background-size: cover;
  height: 500px;
  box-shadow: : 3px 3px 15px;
  border-radius: 1px;
  margin: 10px;
  cursor: pointer;
}

